RewriteEngine On

# Rewrite base to your project folder if it's not the root
RewriteBase /minesmart/

# Remove .php extension for pages
RewriteRule ^auth/register$ app/views/auth/register.php [L]
RewriteRule ^auth/login$ app/views/auth/login.php [L]
RewriteRule ^dashboard$ app/views/dashboard/index.php [L]
