@import "tailwindcss";

/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; }

.dancing-script { font-family: 'Dancing Script', serif; }

.glass-bg-color {
  backdrop-filter: blur(5px);
  background-color: rgba(17, 24, 39, 0.6);
}

.glass-bg-color2 {
  backdrop-filter: blur(5px);
  background-color: rgba(98, 101, 103, 0.7);
}

.glass-bg-color3 {
  backdrop-filter: blur(5px);
  background-color: rgba(44, 62, 80, 0.6);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
