@import "tailwindcss";

/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; }

.dancing-script { font-family: 'Dancing Script', serif; }

.glass-bg-color {
  backdrop-filter: blur(5px);
  background-color: rgba(17, 24, 39, 0.6);
}

.glass-bg-color2 {
  backdrop-filter: blur(5px);
  background-color: rgba(98, 101, 103, 0.7);
}

.glass-bg-color3 {
  backdrop-filter: blur(5px);
  background-color: rgba(44, 62, 80, 0.6);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marker-pulse {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid white;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  70% { box-shadow: 0 0 0 0.9375rem rgba(255, 255, 255, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}
.leaflet-container {
  background: #0f172a !important;
}
.custom-popup .leaflet-popup-content-wrapper {
  background: #0f172a;
  color: #f8fafc;
  border: 0.0625rem solid #334155;
  border-radius: 0.75rem;
}
.custom-popup .leaflet-popup-tip {
  background: #0f172a;
}
